# PostgreSQL - Supabase Cloud (Session Pooler - IPv4)
DATABASE_URL="postgresql://postgres.TU-PROJECT-REF:TU_PASSWORD@aws-1-us-east-1.pooler.supabase.com:5432/postgres"

# Direct connection (for migrations - requires IPv6)
DIRECT_URL="postgresql://postgres:TU_PASSWORD@db.TU-PROJECT-REF.supabase.co:5432/postgres"

# Supabase (Cloud)
NEXT_PUBLIC_SUPABASE_URL="https://tu-proyecto.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="tu-anon-key"
